.id-card{
    border: dashed 2px;
    width: 300px;
    height: 467px;
    border-color: cadetblue;
    margin-left:15px;
    background: url('/images/credencialc.png') no-repeat top left;
    padding-right: 0px;
    margin-bottom: 20px;
    font-size: 1.2em;

}

.letter{
    margin-top:0px;
}

.img-photo{
    width:140px;
    height: 140px;
}
.img-qr{
    width:100;
}
.dt-operator{
    margin-top: 50px;
    text-align: center;
    padding-right: 0px;
}
.name, .position{
    padding: 10px;
}

.icon-print{
    color:white;
    font-size: 1.2em;
}
.position{
    font-size: 0.9em;
}

.group-card:nth-child(4n) {
    margin-top: 0px;
}
.group-card.row {
    margin-right: 0px;
}
@media print {
    .id-card{
        width: 300px;
        height: 467px;
        background: url('/images/credencialc.png') no-repeat top left;
        margin-bottom: 15px;
        margin-top:15px;
    }
    #butBack{
        display:none;
        
    }
    .id-card{  page-break-inside : avoid}
    .letter{
        margin-top: 0px;
    }
    .group-card:nth-child(3n + 1) {
        margin-top: 60px;
    }
    .group-card:nth-child(1) {
        margin-top: 0px;
    }
    @page { size:8.5in 11in; margin: 0cm ;scale: 0.80;}
}